<div id="page" class="desktop-12 tablet-6 mobile-3 our-story-new" data-section-id="{{ section.id }}">
  	{% section 'about-us-video' %}
    <section class="shopify-section osn-intro">
      <div class="index-section">
        <div class="row">
          <div class="osn-img-wrapper col-6">
          	<img class="" src="{{ 'our-story-1.jpg' | asset_url }}">
          </div>
          <div class="osn-intro-text col-6">
          	<p>It all started with a universal proble—muck. Wet, messy, muddy, dirty muck, and we determined to find a solution for keeping our feet warm and dry through it all. So we set out to build the most protective, most comfortable, most reliable boots on the planet - no matter what the conditions. And The Orignal Muck Boot Company® was born providing 100% waterproof boots and footwear that withstand the muckiest situations in every season.<br/><br/>Over the past two decades we have had the freedom to innovate, experiment, and test our products in every single element - because outside, there are way more than four seasons. That’s why we’ve designed each of our styles to work hard for every task and brave every condition - so you can be protected, productive, and always in your comfort zone, no matter what the weather.</p>
          </div>
        </div>
      </div>
  	</section>
  	<section class="shopify-section no-padding img-text-combo our-porpose">
      <div class="index-section">
        <div class="row">
          <div class="combo-text col-6">
            <h2 class="combo-ttl">Our Purpose</h2>
            <p>Muck is rooted in necessity, grounded in community, built to protect, worn with pride, and made for work (and life) in the muck.</p>
          </div>
          <div class="combo-img col-6">
          	<img class="" src="{{ 'our-story-2.jpg' | asset_url }}">
          </div>
        </div>
      </div>
  	</section>
    <section class="shopify-section no-padding img-text-combo our-vision">
      <div class="index-section">
        <div class="row row-inverse">
          <div class="combo-text col-6 green-bg">
            <h2 class="combo-ttl">100% Muckproof</h2>
            <p>Fully protected from wet, windy, snow, mud, and sticky situations.</p>            
          </div>
          <div class="combo-img col-6">
          	<img class="" src="{{ 'Layer-2.jpg' | asset_url }}">
          </div>
        </div>
      </div>
  	</section>
    <section class="shopify-section no-padding img-text-combo our-core-values">
      <div class="index-section">
        <div class="row">
          <div class="combo-text beige-bg col-6">
            <h2 class="combo-ttl">Our Core Values</h2>
            <p><strong>Rural Spirit<br/>Grounded<br/>Hard Working<br/>Reliable<br/>Purposeful</strong></p><br/><p>These are the things that define us...</p>            
          </div>
          <div class="combo-img col-6">
          	<img class="" src="{{ 'our-story-3.jpg' | asset_url }}">
          </div>
        </div>
      </div>
  	</section>
    <section class="shopify-section no-padding what-goes-to">
      <div class="index-section">
        <div class="row">
          <div class="combo-text beige-bg col-40">
            <h2 class="combo-ttl">What goes into our product</h2>            
          </div>
          <div class="combo-img col-60">
          	<img class="desktop" src="{{ 'what-goes-into-img.png' | asset_url }}">
            <img class="mobile" src="{{ 'warm-fleece-responsive.png' | asset_url }}">
          </div>
        </div>
      </div>
  	</section>
    <section class="shopify-section product-promise">
      <div class="index-section">
        <div class="row">
          <div class="col-6 float-right">
            <h2 class="big">Product<br/>Promise</h2>
            <p>We are dedicated to delivering boots and footwear that are <strong>100% MUCKPROOF</strong>: remarkably protective, exceptionally comfortable, and totally waterproof, made with premium neoprene and rubber, and designed to brave every element.</p>
            <a class="btn shop-product-button" href="#">Shop Best sellers</a>
          </div>
        </div>
      </div>
  	</section>
  	<section class="shopify-section our-stories">
      <div class="index-section">
        <div class="row">
          <div class="col-6 stories-from left">
            <h3>stories from the muck</h3>
          	<img class="thumb" src="{{ 'blogs.png' | asset_url }}">
            <a class="goto-link" href="#">view the blog <img src="{{ 'right-arrow.png' | asset_url }}"></a>
          </div>
          <div class="col-6 stories-from right">
          	<h3>Share your story</h3>
          	<img class="thumb" src="{{ 'view-gallery.png' | asset_url }}">
            <a class="goto-link" href="#">view all <img src="{{ 'right-arrow.png' | asset_url }}"></a>
          </div>
        </div>
      </div>
  	</section>
</div>
<script>
  $(document).ready(function(){
    $("#content").addClass('our-story-page-wrapper');
    $("body").addClass('our-story-body');
  });
</script>
<script src="{{ 'jquery.magnific-popup.js' | asset_url }}"></script>
<script>
$( document ).ready(function() {
  $('#headerVideoLink').magnificPopup({
    type:'inline',
    midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    mainClass: 'mfg-addvideo',
    callbacks: {
      open: function() {
        // Start Video when popup open
        $('.embed-responsive').find('video').get(0).play();
        $('body').addClass('modal-open');
      },
      close: function() {
        // Will pause the video when popup is closed
        $('.embed-responsive').find('video').get(0).pause();
        $('body').removeClass('modal-open');
      }
    }
  });
});
</script>