<div id="page" class="desktop-12 tablet-6 mobile-3 our-story-new" data-section-id="{{ section.id }}">
  {% section 'about-us-video' %}
  <section class="shopify-section osn-intro">
    <div class="index-section">
      <div class="row">
        <div class="osn-img-wrapper col-6">
          <img class="" src="{{ 'our-story-1.jpg' | asset_url }}">
        </div>
        <div class="osn-intro-text col-6">
          <h2> Our Story</h2>
          <p>It all started with a universal problem&mdash;muck. Wet, messy, muddy, dirty muck, and we determined to find a solution for keeping our feet warm and dry through it all. So we set out to build the most protective, most comfortable, most reliable boots on the planet&mdash;no matter what the conditions. And The Original Muck Boot Company® was born providing 100% waterproof boots and footwear that withstand the muckiest situations in every season.</p>
          <p>Over the past two decades we have had the freedom to innovate, experiment, and test our products in every single element&mdash;because outside, there are way more than four seasons. That&rsquo;s why we&rsquo;ve designed each of our styles to work hard for every task and brave every condition&mdash;so you can be protected, productive, and always in your comfort zone, no matter what the weather.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="shopify-section no-padding img-text-combo our-porpose">
    <div class="index-section">
      <div class="row">
        <div class="combo-text col-6">
          <h2 class="combo-ttl">Our Purpose</h2>
          <p>Muck is rooted in necessity, grounded in community, built to protect, worn with pride, and made for work (and life) in the muck.</p>
        </div>
        <div class="combo-img col-6">
          <img class="" src="{{ 'our-story-2.jpg' | asset_url }}">
        </div>
      </div>
    </div>
  </section>
  <section class="shopify-section no-padding img-text-combo our-vision">
    <div class="index-section">
      <div class="row row-inverse">
        <div class="combo-text col-6 green-bg">
          <h2 class="combo-ttl">100% Muckproof</h2>
          <p>Fully protected from wet, windy, snow, mud, and sticky situations.</p>
        </div>
        <div class="combo-img col-6">
          <img class="" src="{{ 'Layer-2.jpg' | asset_url }}">
        </div>
      </div>
    </div>
  </section>
  <section class="shopify-section no-padding img-text-combo our-core-values">
    <div class="index-section">
      <div class="row">
        <div class="combo-text beige-bg col-6">
          <h2 class="combo-ttl">Our Core Values</h2>
          <p><strong>Rural Spirit<br/>Grounded<br/>Hard Working<br/>Reliable<br/>Purposeful</strong></p><br/><p>These are the things that define us...</p>
        </div>
        <div class="combo-img col-6">
          <img class="" src="{{ 'our-story-3.jpg' | asset_url }}">
        </div>
      </div>
    </div>
  </section>
  <section class="shopify-section no-padding what-goes-to">
    <div class="index-section">
      <div class="row">
        <div class="combo-text beige-bg col-40">
          <h2 class="combo-ttl">What goes into our product</h2>
        </div>
        <div class="combo-img col-60">
          <div class="desktop">
            <img src="{{ 'what-goes-into-img.png' | asset_url }}">
          </div>
          <div class="mobile">
            <img src="{{ 'warm-fleece-responsive.png' | asset_url }}">
            <ol>
              <li>Pull tabs are recessed (attached from the inside) so as not to pose a catch threat.Feature a silver reflective stripe for safety</li>
              <li>All seams are cemented, stitched and sealed with rubber tape for guaranteed waterproof protection</li>
              <li>Kick-off lug for easy off without touching boot</li>
              <li>Scuba grade neoprene bootie offeres 100% waterproof protection, natural insulation, and durable comfort and flexibility</li>
              <li>Multiple layers of rubber where necessary for additional durability. Coarser textures and heaviest rubber on the toe and heel for most protection</li>
              <li>Rubber Cupsole for durability and traction. Neoprene bootie sits inside the cupsole for extra stability</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %} HOTFIX : Hiding sectional background image per hotfix request.  Original task: PDM-671 {% endcomment %}
  <section class="shopify-section product-promise">
    <div class="index-section">
      <div class="row">
        <div class="col-6 float-right">
          <h2 class="big">Product<br/>Promise</h2>
          <p>We are dedicated to delivering boots and footwear that are <strong>100% MUCKPROOF</strong>: remarkably protective, exceptionally comfortable, and totally waterproof, made with premium neoprene and rubber, and designed to brave every element.</p>
          <a class="btn shop-product-button" title="Shop Best Sellers" href="/collections/best-sellers">Shop Best sellers</a>
        </div>
      </div>
    </div>
  </section>
  <section class="shopify-section our-stories">
    <div class="index-section">
      <div class="row">
        <div class="col-6 stories-from left">
          <h3>stories from the muck</h3>
          {% if settings.international_store_version == "CA" %}
            <a href="https://www.muckbootcompany.com/blogs/all-posts" target="_blank" title="View the Blog">
          {% else %}
            <a href="/blogs/all-posts" title="View the Blog">
          {% endif %}
            <img class="thumb" src="{{ 'blogs.png' | asset_url }}">
          </a>
          <a class="goto-link" href="/blogs/all-posts">view the blog <img src="{{ 'right-arrow.png' | asset_url }}"></a>
        </div>
        <div class="col-6 stories-from right">
          <h3>Share your story</h3>
          <a href="https://www.instagram.com/muckbootco" target="_blank" title="Share Your Story">
            <img class="thumb" src="{{ 'view-gallery.png' | asset_url }}">
          </a>
          <a class="goto-link" href="https://www.instagram.com/muckbootco" target="_blank" title="Share Your Story">view all <img src="{{ 'right-arrow.png' | asset_url }}"></a>
        </div>
      </div>
    </div>
  </section>
</div>
