<div id="returnsSuccess" class="hide">
  Thankyou for submitting your return. A customer service representitive will be in touch with you shortly.
</div>
<div id="returnsError" class="hide" style="color: red">
  There was an error creating your return. Please contact customer service.
</div>
<div class="gridlock" id="returnsForm">
  
  <h4 class="row" style="margin: 0 0 0.5rem 0;"><label for="contact[name]">{{ 'contact.form.name' | t }}</label></h4>    
  <input class="row" style="margin: 0 0 1rem 0;" type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" />
  
  <h4 class="row" style="margin: 0 0 0.5rem 0;"><label for="contact[email]">{{ 'contact.form.email' | t }}</label></h4>
  <input class="row" style="margin: 0 0 1rem 0;" type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" />
  
  <h4 class="row" style="margin: 0 0 0.5rem 0;"><label for="contact[order]">Order #</label></h4>
  <input class="row" style="margin: 0 0 1rem 0;" type="text" id="contactFormOrderNum" name="contact[order]" placeholder="Order #" />
  
  <h4 class="row" style="margin: 0 0 0 0;"><label>Items<abel></h4>
    <small style="margin: 0 0 0.5rem 0; color: grey;">List the items you wish to return</small>
  {% for i in (1..4) %}
  <div class="row sku-row" style="margin: 0;">
    <input type="text" class="desktop-2 sku" style="margin-left: 0;" placeholder="SKU" />
    <input type="text" class="desktop-4 desc" style="margin-left: 0;" placeholder="desc" />
    <input type="text" class="desktop-2 qty" style="margin-left: 0;" placeholder="qty" />
    <select class="desktop-4 reason" style="margin-left: 0;">
      <option value="" disabled selected>please choose</option>
      <option>Too Big</option>
      <option>Too Small</option>
      <option>Orders more than one size</option>
      <option>Item not as described</option>
      <option>Poor quality / Faulty</option>
      <option>Incorrect item recieved</option>
      <option>Order arrived too late</option>
      <option>Changed mind</option>
      <option>Other (please specify in comments)</option>
    </select>
  </div>
  {% endfor %}
    
  <h4 class="row" style="margin: 0 0 0.5rem 0;"><label>Comments</label></h4>
  <textarea class="row" style="margin: 0 0 1rem 0;" rows="15" cols="90" id="contactFormComments" name="contact[comments]" placeholder="{{ 'contact.form.message' | t }}"></textarea>
  <p class="form-submit" >
    <input type="button" onclick="createTicket()" style="width: 200px; background-color: #ab5232;" id="contactFormSubmit" class="secondary button" value="{{ 'contact.form.send' | t }}" />
  </p> 
</div>

<script>
  function summarizeSkus() {
    var summary = "";
    $(".sku-row").each(function(i, obj) {
      var sku = $(this).find("input.sku").val();
      var desc = $(this).find("input.desc").val();
      var qty = $(this).find("input.qty").val();
      var reason = $(this).find("select.reason").val();
      if (sku) {
        summary += "SKU: "+ sku + " " +desc+" qty: "+qty+" reason: "+ reason+" \n";
      }
  })
    return summary;
  }
  
  function createTicket() {
    // Avoid double click
    $("#contactFormSubmit").attr("disabled", true);
    $("#contactFormSubmit").css("background-color", "grey");
    
    // Restore click functionality on timeout
    setTimeout(function(){ 
      $("#contactFormSubmit").attr("disabled", false);
      $("#contactFormSubmit").css("background-color", "#ab5232");
    }, 3000);
    
    $.ajax({
      url: "https://us-central1-muck-uk-returns.cloudfunctions.net/create-return",
      jsonp: "callback",
      dataType: "jsonp",
      data: {
        name: $("#contactFormName").val(),
        email: $("#contactFormEmail").val(),
        orderNo: $("#contactFormOrderNum").val(),
        comments: $("#contactFormComments").val(),
        items: summarizeSkus(),
        format: "json"
      },
      success: function( response ) {
        if (response.error) {
          showError(response.error);
        } else {
          showSuccess();
        }

      },
      error: function( response ) {
        showError("There was an error creating your return. Please contact customer service.")
      }
    }); 
  }
  
  function showSuccess(message) {
    $("#returnsForm").hide();
    $("#returnsError").hide();
    $("#returnsSuccess").show();
    $("html, body").animate({ scrollTop: 0 }, "slow");
  }
  
  function showError(message) {
    $("#returnsError").html(message);
    $("#returnsError").show();
    $("html, body").animate({ scrollTop: 0 }, "slow");
  }
</script>