<!--requirements:-->
<!--Font-awesome-->

<div class="yotpo-product-snippet-custom-design"
     data-appkey="gzejKiOGN46xeB5iurqalrS7dI7zEUIMZ9OCF4MM"
     data-domain="{{shop.permanent_domain | escape }}"
     data-product-id="{{ product.id }}"
     data-product-models="{{ product.id }}"
     data-name="{{ product.title | escape }}"
     data-url="{{ shop.url }}{{ product.url }}"
     data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
     data-description="{{ product.description | escape }}"
     data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
  <div class="yotpo-custom__wrapper">
    <div class="yotpo-custom__header">
      <h2>
        Reviews
      </h2>
      <div class="yotpo-custom__stars">
        <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
      </div>
      <div class="yotpo-custom__reviews-count">
        <a href="#" class="yotpo-custom__link">0 Review</a>
      </div>
    </div>

    <div class="yotpo-custom__divider">
      <a class="yotpo-custom__link yotpo-custom__btn--write-review">
        <span class="fa fa-pencil-square-o"></span>
        <span class="text">Write a Review</span>
      </a>
    </div>

    <div class="yotpo-custom__summary">
      <div class="yotpo-custom__chart">
        <div class="yotpo-custom__chart--recommend">
          100% of customers recommend this product
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--size">
          <div class="yotpo-custom__chart--widget-header">
            Size
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Too Small</span>
            <span>Perfect</span>
            <span>Too Large</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--width">
          <div class="yotpo-custom__chart--widget-header">
            Width
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Too Narrow</span>
            <span>Perfect</span>
            <span>Too Large</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--comfort">
          <div class="yotpo-custom__chart--widget-header">
            Comfort
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Uncomfortable</span>
            <span>Comfortable</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--quality">
          <div class="yotpo-custom__chart--widget-header">
            Quality
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Poor</span>
            <span>Perfect</span>
          </div>
        </div>
      </div>

      <div class="yotpo-custom__reviews">
        <div class="yotpo-custom__divider">
          <div class="yotpo-custom__tab--reviews">
            Reviews (4)
          </div>
        </div>

        <div class="yotpo-custom__reviews-list">
          <div class="yotpo-custom__review-item">
            <div class="yotpo-custom__review-item--header">
              <div class="yotpo-custom__review-item--header-info">
                <div class="yotpo-custom__review-item--header-photo-container">
                  <div class="yotpo-custom__review-item--header-photo">C</div>
                  <div class="yotpo-custom__review-item--header-badge">
                    <span class="fa fa-check-circle"></span>
                  </div>
                </div>
                <div class="yotpo-custom__review-item--header-data">
                  <div class="yotpo-custom__review-item--header-name-wrapper">
                    <div class="yotpo-custom__review-item--header-name">Chris</div>
                    <div class="yotpo-custom__review-item--header-verified">Verified Buyer</div>
                  </div>

                  <div class="yotpo-custom__review-item--header-stars">
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="yotpo-custom__review-item--header-date">
                01/28/19
              </div>
            </div>

            <div class="yotpo-custom__review-item--body">
              <div class="yotpo-custom__review-item--body-title">
                Awesome boots!
              </div>
              <p class="yotpo-custom__review-item--body-content">
                Easy to slip on, comfortable to wear, and perfect for rain, muddy conditions, or snow. Love these boots!
              </p>
              <div class="yotpo-custom__review-item--body-vote">
                <div class="yotpo-custom__review-item--body-vote-text">Was this Review Helpful?</div>
                <div class="yotpo-custom__review-item--body-vote-up">
                  <span class="fa fa-thumbs-up"></span>
                  <span class="yotpo-custom__review-item--body-vote-upcount">0</span>
                </div>
                <div class="yotpo-custom__review-item--body-vote-down">
                  <span class="fa fa-thumbs-down"></span>
                  <span class="yotpo-custom__review-item--body-vote-downcount">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  function ready(fn) {
    if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }
  ready(function () {
    var $customYotpo = $('.yotpo-product-snippet-custom-design');
    var yotpoAppKey = $customYotpo.data('appkey');
    var pId = $customYotpo.data('product-id');

    var updateReviewWidget = function (response) {
      var bottomLine = response && response.response && response.response.bottomline;

      // reviews count
      var totalReviewsCount = bottomLine && bottomLine.total_review;
      var totalReviewsCountTxt = totalReviewsCount ? totalReviewsCount + ' Review' + (totalReviewsCount > 1 ? 's' : ''): '0 Review';
      $('.yotpo-custom__reviews-count .yotpo-custom__link').text(totalReviewsCountTxt);

      // average score by 5 stars
      var averageScore = bottomLine && bottomLine.average_score;
      var averageStarPercentage = '0%';
      if (averageScore) {
        averageStarPercentage = (averageScore / 5) * 100 + '%';
      }
      $('.yotpo-custom__stars .stars-outer .stars-inner').css('width', averageStarPercentage);
    };


    $.ajax({
      url: 'https://api.yotpo.com/v1/widget/'  + yotpoAppKey + '/products/' + pId + '/reviews.json',
      type: 'GET',
      success: function (response) {
        console.log('API success: ', response);
        updateReviewWidget(response);
      },
      error: function (err) {
        console.log('can\'t get reviews data', err);
      }
    });
  });
</script>
