{% comment %}VIRALSWEEP TEST TEMPLATE PAGE :: PDM-827 {% endcomment %}
<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <h1>{{ page.title }}</h1>
  {{ page.content }}

  {%- if section.settings.enable_viralsweep == true and section.settings.campaign_id != blank or section.settings.campaign_id_other != blank -%}
    {% capture campaign_id %}{{ section.settings.campaign_id }}{% endcapture %}
    {% capture campaign_id_other %}{{ section.settings.campaign_id_other }}{% endcapture %}
    {% capture campaign_domain %}{{ section.settings.campaign_domain }}{% endcapture %}
    {%- if campaign_domain == 'en' %}
      {% assign campaign_id_vals = campaign_id | split: "_" %}
    {%- else -%}
      {% assign campaign_id_vals = campaign_id_other | split: "_" %}
    {%- endif -%}
    {% comment %} {% capture campaign_id_vals %}{{ campaign_id | split: "_" }}{% endcapture %} {% endcomment %}
    <div class="viralsweep-container">
      <p style="color: red;">This is a test of the viralsweep section settings</p>
      <p>campaign_id: {{ campaign_id }}</p>
      <p>campaign_id_other: {{ campaign_id_other }}</p>
      <p>campaign_val_part1: {{ campaign_id_vals[0] }}</p>
      <p>campaign_val_part2: {{ campaign_id_vals[1] }}</p>
      {%- if campaign_domain == 'en' %}
        <p>campaign_domain: {{ campaign_domain }}</p>
      {%- elsif campaign_domain == 'de' %}
        <p>campaign_domain: {{ campaign_domain }}</p>
      {%- endif -%}


      {% comment %} :: if campaign domain is not equal to en {% endcomment %}
      {%- if campaign_domain != 'en' -%}
        {% comment %} then build non-EN specific campaign div and JS file {% endcomment %}
        <div id="vsscript_{{ campaign_id_other }}"></div>
        <script async="" type="text/javascript">
        // Check to see which domain we are currently on
        var domainLocale = window.theme.Utils.domainCookie();

        var script = document.createElement('script');
        var vsscript_id = document.querySelector("[id^='vsscript_']");
        console.log(vsscript_id);

        // script.src = "//app.viralsweep.com/vsa-widget-3155df-{{ campaign_id_vals[0] }}.js?sid={{ campaign_id_other }}";
        // document.head.appendChild(script);

campaign_
        console.log(`Here is the domainLocale cookie value: ${domainLocale}`);
        </script>
      {%- else -%}
      {% comment %} :: else the campaign domain must be defaulted to en {% endcomment %}
        {% comment %} then build EN specific campaign div and JS file {% endcomment %}
        <div id="vsscript_{{ campaign_id }}"></div>
        <script async="" type="text/javascript">
        // Check to see which domain we are currently on
        var domainLocale = window.theme.Utils.domainCookie();
        console.log(`Here is the domainLocale cookie value: ${domainLocale}`);

        var script = document.createElement('script');
        var vsscript_id = document.querySelector("[id^='vsscript_']");
        console.log(vsscript_id);

        // script.src = "//app.viralsweep.com/vsa-widget-3155df-{{ campaign_id_vals[0] }}.js?sid={{ campaign_id }}";
        // document.head.appendChild(script);
        </script>
      {%- endif -%}

      {% comment %} <div id="vsscript_55272_868316"></div> {% endcomment %}
      {% comment %} <script async="" type="text/javascript" src="https://app.viralsweep.com/vsa-widget-3155df-55272.js?sid=55272_868316"></script> {% endcomment %}

      {% comment %}
        // VIRALSWEEP TEST TEMPLATE PAGE :: PDM-827
        // if campaign_domain is equal to (or contains a de value)
          // then render the de specific JavaScript include file
        // else
          // render the regular en JavaScript include file
      {% endcomment %}
    </div><!-- /.viralsweep-container -->
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "ViralSweep Settings",
    "settings": [
      {
        "type": "header",
        "content": "ViralSweep Campaign"
      },
      {
        "type":   "checkbox",
        "id":     "enable_viralsweep",
        "label":  "Enable full page ViralSweep page",
        "info":   "This setting enables or disables the overall full page ViralSweep page template.",
        "default": false
      },
      {
        "type": "header",
        "content": "ViralSweep Campaign Info"
      },
      {
        "type":   "select",
        "id":     "campaign_domain",
        "label":  "Campaign Domain",
        "info":   "Leave set to EN unless you need DE for German content",
        "options": [
          {
            "label": "EN",
            "value": "en"
          },
          {
            "label": "DE",
            "value": "de"
          },
          {
            "label": "FR",
            "value": "fr"
          }
        ],
        "default": "en"
      },
      {
          "type": "text",
          "id": "campaign_id",
          "label": "Enter ViralSweep campaign ID for EN domain",
          "default": "55272_888313"
      },
      {
          "type": "text",
          "id": "campaign_id_other",
          "label": "Enter ViralSweep campaign ID for non-EN domain",
          "default": "#sweepstakes #promotion-35656"
      }
    ]
  }
{% endschema %}
