{% assign ISV = settings.international_store_version %}
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    <!-- Favicons -->
    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}">
    {% endif %}
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {% if ISV == 'UK' or ISV == 'EU' %}
      <link href="{{ 'checkout-style.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endif %}
    {{ checkout_scripts }}
    {% include 'script-google-tag-head' %}
    {% if ISV == 'UK' or ISV == 'CA' %}
      <style type="text/css">
        .step[data-step="contact_information"] .field[data-address-field="country"]{display: none;}
      </style>
    {% endif %}
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    {{ tracking_code }} 
    {% include 'plus_custom_discount_msg'%}
    {% include 'checkout-expiry-callout' %}
    {% include 'checkout-customization-script' %}
    <!---PDM-222-->
    {% include 'checkout-address-autofill' %}
    <!---PDM-222-->
    {% include 'script-google-tag-body' %}
    {% if ISV == 'UK' or ISV == 'EU' %}
      <div class="checkbox-custom-data">
        <div class="share-info-line">{{ settings.info_line }}</div>
        <div class="error-terms-msg">{{ settings.newsletter_terms_error }}</div>
      </div>
    {% endif %}
    <script>
      var jquery = null;
      if (window.jQuery) {
        jquery = window.jQuery;
      } else if (window.Checkout && window.Checkout.$) {
        jquery = window.Checkout.$;
      }
      {% if ISV == 'EU' %}
        function moveCountryField(){
          jQuery('.step[data-step="contact_information"] [data-address-field="country"]')
          .removeClass('field--half field--third')
          .css('width','100%')
          .insertBefore(jQuery('.step[data-step="contact_information"] [data-address-field="address1"]'));
        }
      {% endif %}
      jquery(document).on('page:load page:change', function() {
        {% if ISV == 'UK' or ISV == 'CA' %}
          //--------Add class field-half to city and state as we hide country field for UK and CA
          jquery('.step[data-step="contact_information"] .field[data-address-field="province"]').addClass('field--half');
          jquery('.step[data-step="contact_information"] .field[data-address-field="zip"]').addClass('field--half');
        {% endif %}

        var delivery_country_string = '{{ settings.delivery_country_codes }}';
        var delivery_country_defult = '{{ settings.delivery_country_defult }}';
        var billing_country_string = '{{ settings.billing_country_codes }}';
        var billing_country_default = '{{ settings.billing_country_defult }}';

        {% if ISV == 'UK' or ISV == 'EU' %}
          tcCheckbox();
        {% endif %}

        if (delivery_country_string != '') {
          remove_coutry_from_dropdown(delivery_country_string,'checkout_shipping_address_country');
          if (delivery_country_defult != '') {
            jquery("#checkout_shipping_address_country option[data-code='"+delivery_country_defult+"']").prop('selected',true);
          }
          else{
            jquery("#checkout_shipping_address_country").prepend("<option selected='selected' disabled='disabled'>"+jquery("label[for='checkout_shipping_address_country']").html()+"</option>");
          }
        }
        if (billing_country_string != '') {
          remove_coutry_from_dropdown(billing_country_string,'checkout_billing_address_country');
          if (billing_country_default != '') {
            jquery("#checkout_billing_address_country option[data-code='"+billing_country_default+"']").prop('selected',true);
          }
          else{
            jquery("#checkout_billing_address_country").prepend("<option selected='selected' disabled='disabled'>"+jquery("label[for='checkout_billing_address_country']").html()+"</option>");
          }
        }

        //------- T&C Checkbox -----
        //jquery()
        {% if ISV == 'EU' %}
          moveCountryField();
          jQuery(document).on('change','#checkout_shipping_address_country',function(){
            if(jQuery('.step[data-step="contact_information"] [data-address-field="address1"] + [data-address-field="country"]').length == 0){
              moveCountryField();
            }
          })
        {% endif %}
      });
      {% if ISV == 'UK' or ISV == 'EU' %}
      /*---T&C checkbox--*/
      function tcCheckbox(){
        if(Shopify.Checkout.step == 'payment_method'){
            jquery('body').addClass('payment--section');
            var $parent = jQuery('.section--remember-me');
            var cloneSelector = $parent.find('.section__content .content-box').first();
            var fakeSbmitBtnSlctr = $('.step__footer[data-step-footer] [data-trekkie-id="complete_order_button"]').first();
            var fakeSbmitBtn = fakeSbmitBtnSlctr.clone();
            fakeSbmitBtnSlctr.addClass('hide--me');
            $(fakeSbmitBtn).removeAttr('data-trekkie-id').addClass('btn--submit');
            $(fakeSbmitBtn).insertAfter(fakeSbmitBtnSlctr)
            var custCheckbox = cloneSelector.clone();
            $(custCheckbox).addClass('cust-check');
            $(custCheckbox).find('[data-remember-me-phone]').remove();
            $(custCheckbox).find('[type="hidden"]').remove();
            var labelText = jQuery('.checkbox-custom-data .share-info-line').html();
            var errorText = jQuery('.checkbox-custom-data .error-terms-msg').html();
            $parent.append('<div class="error-terms-msg">'+errorText+'</div>');
            $(custCheckbox).find('label').attr('for','shop_terms').html(labelText);
            $(custCheckbox).find('.input-checkbox').removeAttr('data-backup data-remember-me-opt-in aria-controls');
            $(custCheckbox).find('.input-checkbox').attr({
              'id':'shop_terms', 'name':'shopterms'
            })
            $(custCheckbox).insertAfter(cloneSelector);
            $(document).on('change','.step[data-step="payment_method"] #shop_terms',function(e){
                if($(this).is(':checked')){
                  $(this).closest('form').find('.error-terms-msg').fadeOut();
                  $('.btn--submit').hide().siblings('.step__footer__continue-btn').show();
                } else {
                  $(this).closest('form').find('.error-terms-msg').fadeIn();
                  $('.btn--submit').show().siblings('.step__footer__continue-btn').hide();
                }
            })
            $(document).on('click','.step[data-step="payment_method"] .btn--submit',function(e){
              e.preventDefault();
              const $form = $(this).closest('form');
              const isTermsAccept = $form.find('#shop_terms').prop('checked');
              if(isTermsAccept){
                $form.find('.error-terms-msg').fadeOut();
                $(this).hide().siblings('.step__footer__continue-btn').show();
              } else {
                $form.addClass('has-terms-error').find('.error-terms-msg').fadeIn();
                return false;
              }
            });
        }
      }
      {% endif %}
      function remove_coutry_from_dropdown(country_string,select_id)
      {
        var countries_arr= country_string.split(',');
        if (countries_arr.length != 0) {
          jquery("#"+select_id+" option").each(function() {
              if(jquery.inArray(jquery(this).attr('data-code'),countries_arr) <= -1)
              {
                  jquery(this).remove();
              }
          });
          var code = {};
          jquery("select[id='"+select_id+"'] > option").each(function () {
              if(code[this.text]) {
                  jquery(this).remove();
              } else {
                  code[this.text] = this.value;
              }
          });
          sort_options(select_id);
        }
      }
      function sort_options(select_id)
      {
        var select =  jquery("#"+select_id);
        select.html(select.find('option').sort(function(x, y) {
          return jquery(x).text() > jquery(y).text() ? 1 : -1;
        }));     
      }
    </script>
  </body>
</html>
